
h1 {
	color:#332822;
	font-size: 48px;
	}

h2, .term-description p {
	color:#332822;
	font-size: 36px;
	}

h3 {
	color:#332822;
	font-size: 24px;
	}

h4 {
	color:#332822;
	font-size: 21px;
	}

h5 {
	color:#332822;
	font-size: 18px;
	}

h6 {
	color:#332822;
	font-size: 16px;
	}

p, .blogpostcategory, .blogcontent{
	font-family: "FranklinGothic-Book", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color:#332822;
	font-size: 16px;
	}
li {
	font-family: "FranklinGothic-Book", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	list-style: none;
}
a {
	font-family: "FranklinGothic-Book", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	list-style: none;
	color:#559fd3;
}

.top-nav li a, .cartWrapper a, ul.menu li a{
	text-transform: lowercase;
}
.cartWrapper a{
	font-family: "TradeGothicCondensed", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 100%;
	padding-top:5px;
}

ul.menu li a{
	font-family: "TradeGothicCondensed", Helvetica-Neue, Helvetica, sans-serif;
}
ul.sub-menu li a{
	font-family: "TradeGothicBold", Helvetica-Neue, Helvetica, sans-serif;
}

table { font-family: "TradeGothic", Helvetica-Neue, Helvetica, sans-serif; }
table th { font-family: "TradeGothicBold", Helvetica-Neue, Helvetica, sans-serif; }
table tr { font-family: "TradeGothicBold", Helvetica-Neue, Helvetica, sans-serif; }
table td { font-family: "TradeGothicBold", Helvetica-Neue, Helvetica, sans-serif; }

#headerwrap{
	background:#332822;
}


/* ------- Slider --------- */
.panel-0{
	background: #fff url('/wp-content/themes/mercor/images/hero_bg1.jpg') no-repeat center;
}
.panel-1{
	background: #fff url('/wp-content/themes/mercor/images/hero_bg_cherries.jpg') no-repeat center;
}

.panel-2{
	background: #fff url('/wp-content/themes/mercor/images/hero_bg_honeybed.jpg') no-repeat center;
}

.panel-3{
	background: #fff url('/wp-content/themes/mercor/images/hero_bg_parchment.jpg') no-repeat center;
}

.textSlide .box{
	font-size:30px!important;
	font-family: "TradeGothicCondensed", Helvetica-Neue, Helvetica, sans-serif;
}

h1.headline{
	margin:50px 0 25px 0;
	text-align: center;
}

/* ------- Panels --------- */
h2.section_title{
	font-size:40px !important;
	color: #1e1e20;
	margin-top: 20px;
	position: relative;
}
h2.section_title span{
	background:#559fd3;
	color:#fff;
	padding:2px 7px 0px 7px;
}
a.view_all{
	font-family: "FranklinGothic-Book", Helvetica-Neue, Helvetica, sans-serif;
	float:right;
	background:#559fd3;
	color:#fff;
	padding:5px 10px 5px 10px;
	margin-top: -30px;
	position: relative;
	z-index: 50;
}
a.view_all:hover{
	background:#2f7eb5;
}
.recentCart a{
	font-family: "AlternateGotNo1", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: none;
	font-size: 21px;
	letter-spacing: 1.2;
}

/* ------- Buttons --------- */
.blue_button{
	color:#fff;
	text-align: center;
	background:#559fd3;
	border:1px solid #17497b;
	position: relative;
}
.blue_button:hover{
	background:#2f7eb5;
}
.blue_button.big{
	display:block;
	padding:20px;
	font-size: 24px;
	margin-bottom: 20px;
}

.blue_button.medium{
	padding:15px 25px;
	font-size: 16px;
	margin: 30px 0;
}

.blue_button.small{
	padding:15px 25px;
	font-size: 16px;
	display: block;
	width:150px;
}

.blue_button.tiny{
	padding:5px 15px;
	margin-top: 5px;
	font-size: 14px;
	display: block;
	width:100%
}

.brown_button{
	color:#fff;
	text-align: center;
	background:#332822;
	border:1px solid #332822;
	position: relative;
}
.brown_button:hover{
	background:#14100e;
}
.brown_button.big{
	display:block;
	padding:20px;
	font-size: 24px;
	margin-bottom: 20px;
}

.brown_button.medium{
	padding:15px 25px;
	font-size: 16px;
	margin: 30px 0;
}

.brown_button.small{
	padding:15px 25px;
	font-size: 16px;
	display: block;
	width:150px;
}

a.add_to_cart{
	letter-spacing: 1px!important;
}
/* ------- Wholesale ---------- */
.ul.slides li.one_fourth {
	width: 15%;
	float:left;
	margin:0 1.5% 1% 0;
	position: relative;
}
ul.slides li.one_fourth { margin-right: 2%; width:23.5%!important;}
ul.slides li.one_fourth.last { margin-right:0;}
ul.slides li.one_fourth a {display:block; width:220px;opacity:0.75;filter: alpha(opacity=75);}
ul.slides li.one_fourth a:hover{opacity:1;filter: alpha(opacity=100);}
ul.slides li.one_fourth img {width:inherit; height: auto;}

ul.nav li.next {
	overflow: hidden;
	padding: 0;
	position: absolute;
	/*top: 308px;*/
	left:50%;
	margin-top: 28px;
	margin-left: 525px;
	cursor: pointer;
	/*display: none;*/
	/*width: 40px;
	height: 50px;*/
	z-index:100
}
ul.nav li.previous {
	overflow: hidden;
	padding: 0;
	position: absolute;
	/*top: 308px;*/
	left:50%;
	margin-top: 28px;
	margin-left: -595px;
	cursor: pointer;
	/*display: none;*/
	/*width: 40px;
	height: 50px;*/
	z-index:100
}
ul.nav li.next {
	width: 60px;
	height: 60px;
	background: url(images/slideshowArrows.png) no-repeat -60px 0;
}
ul.nav li.previous {
	width: 60px;
	height: 60px;
	background: url(images/slideshowArrows.png) no-repeat;
}

/* ------- About --------- */
.color_swatch{
	display: block;
	width:100%;
	background:#332822;
	/*padding-top:20px;*/
}
.color_swatch h2, .color_swatch p{
	color:#f7f7f7;
}

.about_process{
	margin:30px 0;
}

.gallery{
	padding-top: 15px;
}

ul.nav li.next_gallery {
	overflow: hidden;
	padding: 0;
	position: absolute;
	/*top: 308px;*/
	left:50%;
	margin-top: 200px;
	margin-left: 500px;
	cursor: pointer;
	/*display: none;*/
	/*width: 40px;
	height: 50px;*/
	z-index:100
}
ul.nav li.previous_gallery {
	overflow: hidden;
	padding: 0;
	position: absolute;
	/*top: 308px;*/
	left:50%;
	margin-top: 200px;
	margin-left: -560px;
	cursor: pointer;
	/*display: none;*/
	/*width: 40px;
	height: 50px;*/
	z-index:100
}
ul.nav li.next_gallery {
	width: 60px;
	height: 60px;
	background: url(images/slideshowArrows.png) no-repeat -60px 0;
}
ul.nav li.previous_gallery {
	width: 60px;
	height: 60px;
	background: url(images/slideshowArrows.png) no-repeat;
}

.big_img{
	overflow: hidden;
	height:500px;
	width:100%;
  position: relative;
}

.big_img img{
	width:100%;
	height:auto;
}

.big_img p{
	display: block;
	width: 960px;
	background-color: rgba(255,255,255);
	background-color: rgba(255,255,255,0.7);
	color: #332822;
	padding: 15px;
	position: absolute;
  bottom: 0;
  z-index: 500;
	box-sizing:border-box;
}

ul.thumbs{
	margin-top: 30px;
}

ul.thumbs li.thumb a{
	cursor: pointer;
}


/* ------- Shop --------- */
h2.shop_title{
	display:block;
	margin: 40px 0;
	border-top: 1px solid #ababab;
	position:relative;
	clear:both;
}
h2.shop_title span{
	position: absolute;
	margin: -20px 0 20px 0;
	padding:5px 7px 0px 7px;
	font-size:40px !important;
	color:#fff;
	text-transform: uppercase;
	border-right:5px solid #e4e5e6;
	padding-right:10px;
}

h2.shop_title.africa span{
	background:#e89424;
}

h2.shop_title.south-america span{
	background:#569fd4;
}

h2.shop_title.central-america span{
	background:#7bb13f;
}

h2.shop_title.pacific span{
	background:#bf1e2e;
}

h2.shop_title.espressosblendsdecaf span, h2.shop_title.house-blends span{
	background:#332822;
	word-wrap:break-word;
}

h2.accessories-merchandise{
	text-align: center;
	margin: 0 auto;
	border: none;
	padding: 15px 0;
}

h2.accessories-merchandise span{
	position: relative;
	border: none;
}

a.monthly_subscription_orange{
	color:#fff;
	display:block;
	clear:both;
	text-align: center;
	font-size: 24px;
	background:#f15c2e;
	border:1px solid #921000;
	padding:25px;
	margin-bottom: 15px;
}
a.monthly_subscription_orange:after{
	margin: -2px 0 0 20px;
	position: absolute;
	content: url('/wp-content/themes/mercor/images/big_arrow.png');
}

a.allied_products_blue{
	color:#fff;
	display:block;
	clear:both;
	text-align: center;
	font-size: 24px;
	background:#559fd3;
	border:1px solid #21587f;
	padding:25px;
	margin-bottom: 15px;
}
a.allied_products_blue:after{
	margin: -2px 0 0 20px;
	position: absolute;
	content: url('/wp-content/themes/mercor/images/big_arrow.png');
}

.blue:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom:1;
}
.blue{
	padding-left: 15px;
	/*width:99%;*/
	background:#559fd3;
	clear:both;
}
.blue .one_third{
	margin-bottom: 25px!important;
}

@media screen and (min-width:960px){
	.blue .one_third{
		margin-right: 2%!important;
	}

}

.allied_product .recentdescription{
	margin-bottom: 10px;
}

.allied_product .recentCart{
	margin:-50px 10px 0px 0px!important;
}

/* ------- Team --------- */
h2.team_main_title{
	position:relative;
	margin:15px 0;
}

.team .title {
	font-family: "AlternateGotNo1", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	color: #332822;
}

.team .title a{
	font-family: "AlternateGotNo1", Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	color: #332822;
}
.team .title a:hover{
	color: #2f7eb5;
}

p.description{
	color:#858585;
	line-height: 1.3;
	padding-bottom: 10px;
}

h2.team_main_title.shop{
	clear:both;
	padding:60px 0 40px 0;
}

h2.team_main_title span{
	position: relative;
	padding:15px 25px 10px 25px;
	font-size:40px !important;
	color:#fff;
	text-transform: uppercase;
}

h2.team_main_title.corporate span{
	background:#569fd4;
	width: 150px;
}
h2.team_main_title.shop span{
	background:#569fd4;
}

h3.team_secondary_title{
	display:block;
	border-top: 1px solid #ababab;
	position:relative;
	top:10px;
	padding-top:10px;
	margin-top: 40px;
	clear:both;
}
h3.team_secondary_title span{
	display: block;
	position: absolute;
	margin: -20px 0 20px 0px;
	font-size:40px !important;
	color:#b9baba;
	text-transform: uppercase;
	background:#dddedf;
	padding-right:10px;
}

.blue_button.contact{
	position: relative;
	padding:5px 10px;
	margin:0 15px;
	font-size: 12px;
	min-height: 10px;
	background: #559fd3;
}

.one_third .contact .twitterlink{
	position: absolute;
	left: 90%;
}

/* ------- Team-Single --------- */
a.team_single_img{
	display: block;
	height: 600px;
	overflow: hidden;
}

a.team_single_img img{
	width: 100%;
	height: auto;
}

/* ------- Contact --------- */

.blue_button.medium.contact_form{
	padding:15px 25px;
	font-size: 16px;
	margin: 15px 0;
}

.map-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 50px;
    height: 0;
    overflow: hidden;
}

.map-container iframe,
.map-container object,
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-------- Checkout ----------- */
table.shop_table tbody td.product-remove{
	width:5%;
}
table.shop_table tbody td.product-remove a{
	margin:0 auto;
	color:#fff;
	background:#559fd3;
	display: block;
	padding-left: 2px;
	width:15px;
}
form.shipping_calculator{
	background:#e6e7e8;
	padding:10px;
	margin-top:15px;
}
a.shipping-calculator-button{
	font-family: "AlternateGotNo1", Helvetica-Neue, Helvetica, sans-serif;
	color:#969696;
	font-size: 36px;
	display: block;
}
a.shipping-calculator-button span{
	font-size: 24px;
}
.cart-collaterals{
	background: #e7e8ea;
}
.cart_totals h2{
	color:#969696;
	padding:12px;
}
.cart-collaterals table th{
	font-size:18px;
}
.cart-collaterals table tbody td{
	border-bottom: 1px solid #e7e8ea;
}
.cart-collaterals table tbody td, .cart-collaterals table tbody td span{
	font-size: 18px;
}

p.shipping_note{
	width: 50%;
	position: absolute;
	padding-top: 20px;
	color: #969696;
}

.woocommerce_info p{
	margin:0;
}

/* ------- Footer --------- */
h3{
	text-transform: uppercase;
}
h4.footer_subtitle{
	font-family: "TradeGothicBold", Helvetica-Neue, Helvetica, sans-serif;
	padding-top: 10px;
	text-transform: uppercase;
}
p.a_bit_about{
	font-size:13px;
}
.sitemap a{
	color:#559fd3;
	text-decoration: underline;
	line-height: 1.5;
}
a.monthly_subscription{
	color:#fff;
	display:block;
	background:#559fd3;
	border:1px solid #17497b;
	padding:10px;
	margin-bottom: 15px;
}
a.monthly_subscription:after{
	margin: -12px 0 0 30px;
	position: absolute;
	content: url('/wp-content/themes/mercor/images/big_arrow.png');
}


form.subscribe{
	background:#332822;
	text-align: center;
	margin:0 auto;
	padding:10px!important;
	margin-bottom:30px;

}
form.subscribe h4{
	color:#fff;
	text-align: center;
	padding-bottom: 10px;
}

form.subscribe input[type=text]{
	display:block;
	width:100%;
	overflow: hidden;
	margin-right:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
  form.subscribe input.placeholder, form #contactform input.placeholder, form #contactform textarea.placeholder {
    font-style: italic; }
  form.subscribe input:-moz-placeholder, form #contactform textarea:-moz-placeholder {
    font-style: italic; }
  form.subscribe input::-webkit-input-placeholder, form #contactform textarea::-webkit-input-placeholder {
    font-style: italic; }

.copyright h6{
	font-family: "FranklinGothic-Book", Helvetica-Neue, Helvetica, sans-serif;
	color:#fff;
	font-size: 12px !important;
	padding-top:5px;
}
h6 span.fireant, h6 span.fireant a{
	font-family:Arial, sans-serif;
	text-transform: none;
	color:#fff;
}

h6 span.fireant a:hover{
	opacity:0.75; filter:alpha(opacity=75)
}

@media screen and (min-width: 0px) and (max-width:768px){
	/* Home */
	a.view_all{
		display: none!important;
	}

	/*About*/
	h1.headline{
		margin-top:0px!important;
	}
	.pagecontentAbout h1{
		margin:0;
	}
	.pagenav{
		height:0;
	}

	/*Shop*/
	h2.shop_title{
		word-wrap:break-word;
	}
	h2.shop_title.espressosblendsdecaf {
		margin:50px 0;
	}
}
@media screen and (min-width: 0px) and (max-width:970px){
	.color_swatch.gallery, footer #footerinside .third{
		display:none!important;
	}
	a.monthly_subscription:after{
		display:none;
	}
	a.facebooklink, a.twitterlink{
		padding-top:0px;
	}
	form.subscribe{
		margin-bottom: 0px;
	}
}

@media screen and (min-width:960px) and (max-width:1024px){
}

@media screen and (min-width:960px) and (max-width:1024px){
}
