<!DOCTYPE html>
<!-- saved from url=(0022)/ -->
<head>
  <title>About - Novo Coffee - Denver, CO</title>
</head>
<body class="page page-id-5559 page-template page-template-template-about-php" data-feedly-mini="yes">

<div class="outerpagewrap">
        <div class="pagewrap" style="background: #332822 url(/images/hero_slim_about_sun.jpg) no-repeat center center;">
        <div class="pagecontent">
      <div class="pagecontentContent">
        <!-- <h1><%= content_store.content(1) %> </h1> -->
        <h1>About</h1>
        <!-- <p></p> -->
      </div>
    </div>

  </div>
</div>

<div id="mainwrap">
  <div class="color_swatch">
8
    <div id="main" class="clearfix">
       <div class="content fullwidth">
        <p></p><p>
          <%= content_store.content(1) %>
        </p><p></p>

      </div>
      <div class="one_half first">
          <a href="/team/" class="blue_button big">Meet the Novo Team</a>
        </div>
        <div class="one_half last">
          <a href="/sign-up-for-a-cupping/" class="blue_button big">Cuppings &amp; Tours</a>
        </div>
    </div>
  </div>
  <div id="main" class="clearfix">
    <div class="pad"></div>
    <div class="content fullwidth about_process">
      <h2>Learn about our process</h2>
      <p></p><p>
        <%= content_store.content(2) %>
      </p><p></p>
      <a href="/contact-locations/" class="blue_button medium">Contact Us</a>
    </div>
  </div>
  <div class="color_swatch gallery">
    <div id="main" class="clearfix">
      <div class="content fullwidth">
        <h2>Photo Gallery</h2>
                  <div class="gallery">
            <ul class="nav">
              <li class="previous_gallery">
              </li>
              <li class="next_gallery">
              </li>
            </ul>
            <div class="big_img">
                            <img id="big_img" src="/images/gallery/gallery_1.jpg">
              <p>Finca Los Alpes, Eastern El Salvador</p>
            </div>
            <ul class="thumbs">
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_1.jpg" data-caption="Finca Los Alpes, Eastern El Salvador">
                    <img src="/images/gallery/gallery_1-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_2.jpg" data-caption="Pacamara coffee cherries, El Salvador">
                    <img src="/images/gallery/gallery_2-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_3.jpg" data-caption="Finca Los Alpes, eastern El Salvador">
                    <img src="/images/gallery/gallery_3-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_4.jpg" data-caption="Final coffee sorting, El Salvador">
                    <img src="/images/gallery/gallery_4-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_5.jpg" data-caption="De-pulping, Panama">
                    <img src="/images/gallery/gallery_5-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_6.jpg" data-caption="Cupping at Hacienda La Esmeralda, Panama">
                    <img src="/images/gallery/gallery_6-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_7.jpg" data-caption="Fresh geisha coffee cherries at Hacienda La Esmeralda, Panama">
                    <img src="/images/gallery/gallery_7-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_8.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_8-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_9.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_9-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_10.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_10-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_111.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_111-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_12.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_12-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_13.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_13-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_14.jpg" data-caption="1600 Glenarm Place">
                    <img src="/images/gallery/gallery_14-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_15.jpg" data-caption="Roasting at 3008 Larimer Street">
                    <img src="/images/gallery/gallery_15-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_16.jpg" data-caption="Roasting at 3008 Larimer Street">
                    <img src="/images/gallery/gallery_16-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_17.jpg" data-caption="Roasting at 3008 Larimer Street">
                    <img src="/images/gallery/gallery_17-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_18.jpg" data-caption="Roasting at 3008 Larimer Street">
                    <img src="/images/gallery/gallery_18-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_19.jpg" data-caption="Coffee cherries, 3008 Larimer Street">
                    <img src="/images/gallery/gallery_19-150x150.jpg">
                  </a>
                </li>
                              <li class="thumb one_sixth">
                                    <a data-full="/images/gallery/gallery_20.jpg" data-caption="Ricardo Bustos, Finca Villadiana, Colombia">
                    <img src="/images/gallery/gallery_20-150x150.jpg">
                  </a>
                </li>
                          </ul>
          </div>
              </div>
    </div>
  </div>
</div>
