</br>
</br>
</br>
</br>
</br>
</br>
  <ul id="list">
  <% contents.each do |content| %>
      <li>
        <span id="title">
        <%= content[:page] %><br/></span>
        <span id="content">
        <%= content[:content] %><br/></span>

        <a href="/<%= content[:id] %>/edit">Edit</a>
      </li>

    <% end %>

  </ul>


<%# -- <!-- <div id="about-1" class="dashboard_item"> About 1
<form action='/about1/edit' method='POST'>
      <input type="hidden" name="_method" value="PUT" />
      <textarea name='content'><%= content_store.content(1) </textarea><br/>
      <input type='submit'/>
    </form>

</div> -->
--%>
