</br>
</br>
</br>
</br>
  </br>
  </br>
<div class="edit-item"> Edit Your Item
<form action='/content[:id]/edit' method='POST'>
      <input type="hidden" name="_method" value="PUT" />
      <textarea name='content'><%= content[:content] %> </textarea><br/>
      <input type='submit'/>
    </form>

</div>
