
		<div id="headerwrap">
			<div class="cartHolder">
				<div class="top-nav">
					<div class="socialTop"></div>
						<div class="cartWrapper">
							<a class="cart-bubble cart-contents">(0)</a>
							<a href="/cart" class="cart">Cart</a>
								<div class="widget_shopping_cart_top">
									<div class="cartTopDetails">
										<ul class="cart_list product_list_widget  ">
											<li class="empty cart">No products in the cart.</li>
										</ul><!-- end product list -->
									</div>
								</div>
						</div>
						<ul>
							<li><a href="/my-account">My Account</a></li>
						</ul>
				</div>
			</div>
			<div id="header">
			<div id="logo">
				<a href="/"><img src="/images/logo.png" alt="Novo Coffee - "></a>
			</div>
			<div class="respMenu">
				<select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)"><option value="" selected="selected" disabled="disabled">Please select...</option><option value="/shop">Shop</option><option value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
<option value="/products/5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu</option>
<option value="/products/7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option value="/products/3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Belekatu</option>
<option value="/products/2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bufcafe - Out Of Stock</option>
<option value="/products/1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deri Kochoha</option>
<option value="/products/9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nekisse</option>

<option value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
<option value="/products/17">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bambito Estate</option>
<option value="/products/15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Banco</option>
<option value="/products/12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finca Isnul - Out Of Stock</option>
<option value="/products/14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Honey</option>
<option value="/products/16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mundani</option>
<option value="/products/11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ojo de Agua</option>

<option value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South America</option>
<option value="/products/10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;San Sebastian - Out Of Stock</option>

<option value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
<option value="/products/18">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ulos Batak</option>

<option value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, &amp; Decaf</option>
<option value="/products/7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option value="/products/1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deri Kochoha Espresso</option>
<option value="/products/19">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso del Fuego</option>
<option value="/products/20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso Novo</option>
<option value="/products/21">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four Leftys</option>
<option value="/products/8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf</option>
<option value="/products/6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf Espresso</option>

<option value="/shop">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

<option value="/wholesale">Wholesale</option>
<option value="/news-events">News + Events</option>
<option value="/about">About</option>
<option value="/contact-locations">Contact + Locations</option>
</select></div>

			<div class="pagenav">
			<ul id="menu-main-menu-1" class="menu"><li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub-menu"><a href="/shop"><strong>Shop</strong></a>
<ul class="sub-menu">
	<li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/#"><div class="label"><img src="/php/timthumb.php" alt="menu image"></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/#"><h4>Africa</h4></a></li>
		<li id="menu-item-6131" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/5">Anyetsu</a></li>
		<li id="menu-item-6355" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/7">Anyetsu Espresso</a></li>
		<li id="menu-item-6849" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/3">Belekatu</a></li>
		<li id="menu-item-7239" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/2">Bufcafe – Out Of Stock</a></li>
		<li id="menu-item-7549" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/1">Deri Kochoha</a></li>
		<li id="menu-item-6133" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/9">Nekisse</a></li>
	</ul>
</li>
	<li id="menu-item-5802" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/#"><div class="label"><img src="/php/timthumb(1).php" alt="menu image"></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="/#"><h4>Central America</h4></a></li>
		<li id="menu-item-7511" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/17">Bambito Estate</a></li>
		<li id="menu-item-6137" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/15">El Banco</a></li>
		<li id="menu-item-7185" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/12">Finca Isnul – Out Of Stock</a></li>
		<li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/14">Hartmann Honey</a></li>
		<li id="menu-item-6139" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/product/mundani/">Mundani</a></li>
		<li id="menu-item-7447" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/11">Ojo de Agua</a></li>
	</ul>
</li>
	<li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/#"><div class="label"><img src="/php/timthumb(2).php" alt="menu image"></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6288" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/#"><h4>South America</h4></a></li>
		<li id="menu-item-7448" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/10">San Sebastian – Out Of Stock</a></li>
	</ul>
</li>
	<li id="menu-item-5808" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/#"><div class="label"><img src="/php/timthumb(3).php" alt="menu image"></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6290" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/#"><h4>Pacific</h4></a></li>
		<li id="menu-item-6152" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/18">Ulos Batak</a></li>
	</ul>
</li>
	<li id="menu-item-5809" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/#"><div class="label"><img src="/php/timthumb(4).php" alt="menu image"></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6291" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="/#"><h4>Espressos, Blends, <br>&amp; Decaf</h4></a></li>
		<li id="menu-item-6144" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/7">Anyetsu Espresso</a></li>
		<li id="menu-item-7548" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/1">Deri Kochoha Espresso</a></li>
		<li id="menu-item-6145" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/19">Espresso del Fuego</a></li>
		<li id="menu-item-6146" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/20">Espresso Novo</a></li>
		<li id="menu-item-6147" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/21">Four Leftys</a></li>
		<li id="menu-item-6149" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/8">Novo Decaf</a></li>
		<li id="menu-item-6150" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="/products/6">Novo Decaf Espresso</a></li>
	</ul>
</li>
	<li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop/"><div class="menufeautured"><img src="/images/Novo-Roaster-Low-19.jpg" alt="menu image"><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/wholesale"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/news-events"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact-locations"><strong>Contact + Locations</strong></a></li>
</ul>			</div>

			</div>
		</div>
