<!DOCTYPE html>
<!-- saved from url=(0022)/ -->
<head>
	<title>Home - Novo Coffee - Denver, CO</title>
</head>

<body class="home page page-id-4825 page-template page-template-template-home-php" data-feedly-mini="yes">

<%= erb :header_partial %>

<script type="text/javascript">
jQuery(document).ready(function($){
if ($.browser.msie && $.browser.version.substr(0,1)<9) {
	    $('#slider').anythingSlider({
		hashTags : false,
		expand		: true,
		autoPlay	: true,
		resizeContents  : false,
		pauseOnHover    : true,
		buildArrows     : false,
		buildNavigation : false,
		delay		: 7500,
		resumeDelay	: 0,
		animationTime	: 800,
		delayBeforeAnimate:0,
		easing : 'easeInOutQuint',

		onSlideBegin    : function(e, slider) {
				$('.nextbutton').fadeOut();
				$('.prevbutton').fadeOut();

		},
		onSlideComplete    : function(slider) {


			var height = $('.activePage').find('.check').height();
			var heightIframe = $('.activePage').find('iframe').height();
			var currheight = $('.anythingSlider').height();
			if(height != null){
				height = currheight/2-20;

				$('.nextbutton').css('top',''+height+'px');
				$('.prevbutton').css('top',''+height+'px')
				}
			if(heightIframe != null){
				heightIframe = currheight/2 -20;
				$('.nextbutton').css('top',''+heightIframe+'px');
				$('.prevbutton').css('top',''+heightIframe+'px');
				}
			$('.nextbutton').fadeIn();
			$('.prevbutton').fadeIn();

		}


	    })

 }
  else{
 	    $('#slider').anythingSlider({
		hashTags : false,
		expand		: true,
		autoPlay	: true,
		resizeContents  : false,
		pauseOnHover    : true,
		buildArrows     : false,
		buildNavigation : false,
		delay		: 7500,
		resumeDelay	: 0,
		animationTime	: 800,
		delayBeforeAnimate:0,
		easing : 'easeInOutQuint',
		onBeforeInitialize   : function(e, slider) {
			$('.textSlide h1, .textSlide li, .textSlide img, .textSlide h2, .textSlide li.button').css('opacity','0');
		},

		onSlideBegin    : function(e, slider) {
				$('.nextbutton').fadeOut();
				$('.prevbutton').fadeOut();

		},
		onSlideComplete    : function(slider) {


			var height = $('.activePage').find('.check').height();
			var heightIframe = $('.activePage').find('iframe').height();
			var currheight = $('.anythingSlider').height();
			if(height != null){
				height = currheight/2-20;

				$('.nextbutton').css('top',''+height+'px');
				$('.prevbutton').css('top',''+height+'px')
				}
			if(heightIframe != null){
				heightIframe = currheight/2 -20;
				$('.nextbutton').css('top',''+heightIframe+'px');
				$('.prevbutton').css('top',''+heightIframe+'px');
				}
			$('.nextbutton').fadeIn();
			$('.prevbutton').fadeIn();
			 $('.textSlide li.top,.textSlide li.top1,.textSlide li.top2,.textSlide li.top3,.textSlide li.bounceBall1, .textSlide li.bounceBall2, .textSlide li.bounceBall3, .textSlide li.bounceBall4,.textSlide li.bounceBall5,.textSlide li.bounceBall6').css('top','-900px');
		}


	    })

  .anythingSliderFx({

   // base FX definitions can be mixed and matched in here too.
   '.fade' : [ 'fade' ],

   // for more precise control, use the "inFx" and "outFx" definitions
   // inFx = the animation that occurs when you slide "in" to a panel
   inFx : {
    '.textSlide h1'  : { opacity: 1, top  : 0, duration: 500, easing : 'linear' },
	'.textSlide h2'  : { opacity: 1, top  : 0, duration: 500, easing : 'linear' },
	'.textSlide li.object1'  : { opacity: 1, top  : 0, duration: 500, easing : 'linear' },
    '.textSlide li.left, .textSlide li.right'  : { opacity: 1, left : 0,  duration: 2000 ,easing : 'easeOutQuint'},
    '.textSlide li.top' : { opacity: 1,  top : 0,  duration: 1500 ,easing : 'easeOutQuint'}	,
    '.textSlide li.top1' : { opacity: 1,  top : 0, duration: 1500 ,  easing : 'easeOutQuint'}	,
    '.textSlide li.top2' : { opacity: 1,  top : 0, duration: 1500 ,easing : 'easeOutQuint'}	,
    '.textSlide li.top3' : { opacity: 1,  top : 0, duration: 1500 ,easing : 'easeOutQuint'}	,
	'.textSlide li.bottom'  : { opacity: 1,  bottom : 0, duration: 3000 ,easing : 'easeOutQuint'}	,
	'.textSlide li.bottom2'  : { opacity: 1,  top : 0, duration: 2500 ,easing : 'easeOutQuint'}	,
	'.textSlide li.button'  : { opacity: 1,  top : 0, duration: 2500,easing : 'easeOutQuint'}	,
	'.textSlide li.salePrice1'  : { opacity: 1,  top : 0, duration: 500,easing : 'easeOutQuint'}	,
	'.textSlide li.salePrice2'  : { opacity: 1,  top : 0, duration: 500,easing : 'easeOutQuint'}	,
	'.textSlide li.salePrice3'  : { opacity: 1,  top : 0, duration: 500,easing : 'easeOutQuint'}	,
	'.textSlide li.bounceBall1'  : { opacity: 1,  top : 0, duration: 2500,easing : 'easeOutBounce'}	,
	'.textSlide li.bounceBall2'  : { opacity: 1,  top : 0, duration: 1800,easing : 'easeOutBounce'}	,
	'.textSlide li.bounceBall3'  : { opacity: 1,  top : 0, duration: 3500,easing : 'easeOutBounce'}	,
	'.textSlide li.bounceBall4'  : { opacity: 1,  top : 0, duration: 2200,easing : 'easeOutBounce'}	,
	'.textSlide li.bounceBall5'  : { opacity: 1,  top : 0, duration: 1900,easing : 'easeOutBounce'}	,
	'.textSlide li.bounceBall6'  : { opacity: 1,  top : 0, duration: 2700,easing : 'easeOutBounce'}	,
	'.textSlide li.quote'  : { opacity: 1,  top : 0, duration: 5600 ,easing : 'easeOutQuad'}
   },
   // out = the animation that occurs when you slide "out" of a panel
   // (it also occurs before the "in" animation)
   outFx : {
    '.textSlide h1'      : { opacity: 0, top  : '0px', duration: 500 },
	'.textSlide li.object1'      : { opacity: 0, top  : '0px', duration: 500 },
    '.textSlide li.right'  : { opacity: 0, left : '-600px', duration: 350 },
    '.textSlide li.left' : { opacity: 0, left : '200px',  duration: 350 },
    '.textSlide li.bottom' : { opacity: 0, top : '500px',  duration: 350 },
	'.textSlide li.bottom2' : { opacity: 0, top : '500px',  duration: 350 },
    '.textSlide li.top,.textSlide li.top2,.textSlide li.top3' : { opacity: 0, top : '-900px',  duration: 1200 },
	'.textSlide li.top1' : { opacity: 0, top : '-900px',  duration: 2400},
	'.textSlide li.top2' : { opacity: 0, top : '-900px',  duration: 3600},
	'.textSlide li.top3' : { opacity: 0, top : '-900px',  duration: 4800},
	 '.textSlide li.button' : { opacity: 0, top : '500px',  duration: 0 },
	 '.textSlide li.salePrice1' : { opacity: 0, top : '500px',  duration: 5000 },
	 '.textSlide li.salePrice2' : { opacity: 0, top : '500px',  duration: 5250 },
	 '.textSlide li.salePrice3' : { opacity: 0, top : '500px',  duration: 5500 },
	  '.textSlide li.quote' : { opacity: 0, top : '700px',  duration: 350 },
    '.textSlide img' : { opacity: 1, top : '0px',  duration: 600 },

   }

  });

  }

	    $('#slider-wrapper').hover(function() {
		$(".slideforward").stop(true, true).fadeIn();
		$(".slidebackward").stop(true, true).fadeIn();
	    }, function() {
		$(".slideforward").fadeOut();
		$(".slidebackward").fadeOut();
	    });
	    $(".pauseButton").toggle(function(){
		$(this).attr("class", "playButton");
		$('#slider').data('AnythingSlider').startStop(false); // stops the slideshow
	    },function(){
		$(this).attr("class", "pauseButton");
		$('#slider').data('AnythingSlider').startStop(true);  // start the slideshow
	    });
	    $(".slideforward").click(function(){
		$('#slider').data('AnythingSlider').goForward();
	    });
	    $(".slidebackward").click(function(){
		$('#slider').data('AnythingSlider').goBack();
	    });
});

</script>


<div id="slider-wrapper">
<div class=""></div>
<div class="anythingSlider anythingSlider-default activeSlider anythingSlider-hovered" style="width: 1306px; height: 427px;"><div class="anythingWindow" style="width: 1306px; height: 427px;"><div id="slider" class="anythingBase horizontal" style="width: 7836px; left: -2612px; display: block;">
	<div class="cloned panel" style="width: 1306px; height: 427px;">
	<div class="panel-3" style="max-width: 1306px;">
		<div class="images" style="opacity: 1;">
			<img class="check" src="/images/slideshow-background-13-1.png" alt="Shop">
				<div class="textSlide" style="top:25%; left:57%">
					<h1 class="box" style="opacity: 0;">Shop Our Coffee</h1>
					<ul>
					<li class="left" style="opacity: 0;">Browse all of</li>
					<li class="right" style="opacity: 0;">our flavorful coffees</li>
					<li class="left" style="opacity: 0;"> by region</li>
					<li class="right" style="opacity: 0;">
					<a href="/shop" class="brown_button small" disabled="disabled" name="">SHOW ME MORE</a>
					</li>
					</ul>
				</div>
		</div>
	</div>
</div>

<div class="panel" style="width: 1306px; height: 427px;">
	<div class="panel-0" style="max-width: 1306px;">
		<div class="images" style="opacity: 1;">
			<img class="check" src="/images/slideshow-background-13-1.png" alt="Locations">
				<div class="textSlide" style="top:25%; left:57%">
					<h1 class="box" style="opacity: 0; position: relative; top: 0px;">Our Shops</h1>
						<ul>
						<li class="left" style="opacity: 0; position: relative; left: 200px;">Retail coffee shops at 1600 Glenarm &amp;</li>
						<li class="right" style="opacity: 0; position: relative; left: -600px;">1700 East 6th Avenue</li>
						<a href="/contact-locations" class="brown_button small">SHOW ME MORE</a>
						</ul>
				</div>
			</div>
		</div>
</div>

<div class="panel activePage" style="width: 1306px; height: 427px;">
	<div class="panel-1" style="max-width: 1306px;">
		<div class="images" style="opacity: 1;">
			<a href="/retail-cuppings" title="">
			<img class="check" src="/images/bluechair1.jpg" alt="Bi-Weekly Cuppings "></a>
			<div class="textSlide" style="top:75%; left:57%">
				<h1 class="box" style="opacity: 1; position: relative; top: 0px;">Cupping Events</h1>
				<ul>
				<li class="left" style="opacity: 1; position: relative; left: 0px;">Bi-Weekly Cuppings </li>
				<li class="right" style="opacity: 1; position: relative; left: 0px;">For the curious coffee drinker </li>
				<li class="left" style="opacity: 1; position: relative; left: 0px;">Occurring at both Glenarm and Gilpin</li>
				<li class="right" style="opacity: 1; position: relative; left: 0px;">
				<a href="/retail-cuppings" class="brown_button small">SHOW ME MORE</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="panel" style="width: 1306px; height: 427px;">
	<div class="panel-2" style="max-width: 1306px;">
		<div class="images" style="opacity: 1;">
		<img class="check" src="/images/slideshow-background-13-1.png" alt="Subscriptions">
			<div class="textSlide" style="top:25%; left:57%">
				<h1 class="box" style="opacity: 0;">Subscribe Today!</h1>
				<ul>
				<li class="left" style="opacity: 0;">Our monthly coffee subscriptions</li>
				<li class="right" style="opacity: 0;">are handpicked by our head roaster</li>
				<li class="left" style="opacity: 0;">and delivered to your front door.</li>
				<li class="right" style="opacity: 0;">
				<a href="/subscriptions" class="brown_button small">SHOW ME MORE</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="panel" style="width: 1306px; height: 427px;">
	<div class="panel-3" style="max-width: 1306px;">
		<div class="images" style="opacity: 1;">
			<img class="check" src="/images/slideshow-background-13-1.png" alt="Shop">
			<div class="textSlide" style="top:25%; left:57%">
				<h1 class="box" style="opacity: 0;">Shop Our Coffee</h1>
				<ul>
				<li class="left" style="opacity: 0;">Browse all of</li>
				<li class="right" style="opacity: 0;">our flavorful coffees</li>
				<li class="left" style="opacity: 0;"> by region</li>
				<li class="right" style="opacity: 0;">
				<a href="/shop" class="brown_button small">SHOW ME MORE</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="cloned panel" style="width: 1306px; height: 427px;">
	<div class="panel-0" style="max-width: 1306px;">
		<div class="images" style="opacity: 1;">
			<img class="check" src="/images/slideshow-background-13-1.png" alt="Locations">
			<div class="textSlide" style="top:25%; left:57%">
				<h1 class="box" style="opacity: 0;">Our Shops</h1>
				<ul>
				<li class="left" style="opacity: 0;">Retail coffee shops at 1600 Glenarm &amp;</li>
				<li class="right" style="opacity: 0;">1700 East 6th Avenue</li>
				<a href="/contact-locations" class="brown_button small" disabled="disabled" name="">SHOW ME MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div></div></div><div class="anythingControls"><a href="/#" class="start-stop playing" style="display: inline;"><span>Stop</span></a></div></div>
  <div class="prevbutton slidebackward" style="top: 193.5px; display: block;"></div>
  <div class="nextbutton slideforward" style="top: 193.5px; display: block;"></div>
</div>

<div id="mainwrap">
	<div id="main" class="clearfix">
		<div class="pad"></div>
		<h1 class="headline">Welcome to our website! It is fresh, like our coffee.</h1>
			<div class="one_fourth first">
			<div class="boxImage">
			<div class="imagerecentholder">
				<a href="/product/espresso-novo">
					<img src="/images/icon_espresso_red2.png" alt="">
					</a>
					<p></p><p style="text-align: center;"><strong>&nbsp;Espresso Novo</strong></p>
					<p></p>
				</div>
			</div>
		</div>
		<div class="one_fourth second">
			<div class="boxImage">
				<div class="imagerecentholder">
					<a href="/product/anyetsu/">
						<img src="/images/icon_bean_blue1.png" alt="">
					</a>
					<p></p><p style="text-align: center;"><strong>Anyetsu</strong></p>
					<p></p>
				</div>
			</div>
		</div>
		<div class="one_fourth third">
			<div class="boxImage">
				<div class="imagerecentholder">
					<a href="/product/el-banco/">
						<img src="/images/icon_piggy_orange1.png" alt="">
					</a>
					<p></p><p style="text-align: center;"><strong>El Banco</strong></p>
					<p></p>
				</div>
			</div>
		</div>
		<div class="one_fourth last fourth">
			<div class="boxImage">
				<div class="imagerecentholder">
					<a href="/product/mundani">
						<img src="/images/icon_mountain_green.png" alt="">
					</a>
					<p></p><p style="text-align: center;"><strong>Mundani</strong></p>
					<p></p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<h2 class="section_title">Featured <span>Products</span></h2>
		<a href="http://novocoffee.com/shop/" class="view_all">view all</a>
		<div class="clear"></div>

	<script type="text/javascript">
		jQuery(document).ready(function(){
		// Slider
		var $slider = jQuery('#productF').bxSlider({
					controls: true,
					displaySlideQty: 1,
					easing : 'easeInOutQuint',
					prevText : '',
					nextText : '',
					pager :false
				});
		 });
	</script>
<div class="homeRacent">
	<div class="titleborder"></div>
	<div id="homeRecent">
	<div class="bx-wrapper"><div class="bx-viewport" style="width: 100%; height: 421px; overflow: hidden; position: relative;"><ul id="productF" class="productR" style="width: 2800%; height: 0px; overflow: visible; position: relative; margin: 0px; padding: 0px; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-960px, 0px, 0px);"><li style="float: left; position: relative; width: 960px; list-style: none; margin-right: 0px; margin-bottom: 0px;" class="bx-clone"><div class="one_third">				<a href="/product/hartmann-honey/" title="Hartmann Honey">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(5).php" style="">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/hartmann-honey/" title="">Hartmann Honey</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$15</span></span></h3>
				</div>
				<div class="recentCart">
				<a href="/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
				</div>
			</div>
		<div class="one_third"><a href="/product/san-sebastian-2/" title="San Sebastian – Out Of Stock">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(6).php" style="">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/san-sebastian-2/" title="">San Sebastian – Out Of Stock</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$16</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/san-sebastian-2/" class="button">Read More</a>

</div>

			</div>
		<div class="one_third last">				<a href="/product/ojo-de-agua-2/" title="Ojo de Agua">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(7).php" style="">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/ojo-de-agua-2/" title="">Ojo de Agua</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$14</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
					</li>
				<li style="float: left; position: relative; width: 960px; list-style: none; margin-right: 0px; margin-bottom: 0px;"><div class="one_third">				<a href="/product/hartmann-honey/" title="Hartmann Honey">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(5).php" style="display: inline;">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/hartmann-honey/" title="">Hartmann Honey</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$15</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
		<div class="one_third">				<a href="/product/san-sebastian-2/" title="San Sebastian – Out Of Stock">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(6).php" style="display: inline;">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/san-sebastian-2/" title="">San Sebastian – Out Of Stock</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$16</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/san-sebastian-2/" class="button">Read More</a>

</div>

			</div>
		<div class="one_third last">				<a href="/product/ojo-de-agua-2/" title="Ojo de Agua">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(7).php" style="display: inline;">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/ojo-de-agua-2/" title="">Ojo de Agua</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$14</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
					</li>
				<li style="float: left; position: relative; width: 960px; list-style: none; margin-right: 0px; margin-bottom: 0px;" class="bx-clone"><div class="one_third">				<a href="/product/hartmann-honey/" title="Hartmann Honey">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(5).php" style="">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/hartmann-honey/" title="">Hartmann Honey</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$15</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
		<div class="one_third">				<a href="/product/san-sebastian-2/" title="San Sebastian – Out Of Stock">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(6).php" style="">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/san-sebastian-2/" title="">San Sebastian – Out Of Stock</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$16</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/san-sebastian-2/" class="button">Read More</a>

</div>

			</div>
		<div class="one_third last">				<a href="/product/ojo-de-agua-2/" title="Ojo de Agua">
					<div class="recentimage" style="background: none;">
						<div class="image" style="background: none;">
							<div class=""></div>
							<img src="/php/timthumb(7).php" style="">						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="/product/ojo-de-agua-2/" title="">Ojo de Agua</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$14</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
					</li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href=""></a><a class="bx-next" href=""></a></div></div></div>
	</div>
</div>

<div class="clear"></div>
		<div class="clear"> </div>
	</div>
</div>

<%= erb :footer_partial %>
