<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js csstransforms csstransforms3d csstransitions">
  <body>
  	<div id="container">
      <header>
        <%= erb :header_partial %>
      </header>
      <% banner = contents[2] %>
      <% if banner[:content][0] == "1" %>
        <section id="banner">
          <div class="transbox">
            <h1><%= banner[:content][1..-1] %></h1>
          </div>
        </section>
      <% end %>
	    <%= yield %>
      <footer>
        <%= erb :footer_partial %>
      </footer>
  </body>
</html>
