<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js csstransforms csstransforms3d csstransitions">
  <body>
  	<div id="container">
      <header>
        <%= erb :header_partial %>
      </header>
	    <%= yield %>
      <footer>
        <%= erb :footer_partial %>
      </footer>
  </body>
</html>
