<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1>New Product</h1>
<form action="/new" method="post">
  <label for="title">Name:</label><br />
  <input id="title" name="product[name]" type="text" />
  <br />
  <label for="size">Size:</label><br />
  <input id="size" name="product[size]" type="text" />
  <br />
  <label for="image">Image:</label><br />
  <input id="image" name="product[image]" type="text" />
  <br />
  <label for="price">Price:</label><br />
  <input id="price" name="product[price]" type="text" />
  <br />

  <button type="submit">Save</button>
</form>
