<head>
	<title>News + Events | Page 2 of 2 | Novo Coffee	</title>
</head>
<body class="blog paged paged-2">

<div class="outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(/images/hero_slim_about_cherries.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>News + Events</h1>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
jQuery(document).ready(function($){
	    $('.slider').anythingSlider({
		hashTags : false,
		expand		: true,
		autoPlay	: true,
		resizeContents  : false,
		pauseOnHover    : true,
		buildArrows     : false,
		buildNavigation : false,
		delay		: 4000,
		resumeDelay	: 0,
		animationTime	: 800,
		delayBeforeAnimate:0,
		easing : 'easeInOutQuint',
	    })


	    $('.slider-wrapper').hover(function() {
		$(".slideforward").stop(true, true).fadeIn();
		$(".slidebackward").stop(true, true).fadeIn();
	    }, function() {
		$(".slideforward").fadeOut();
		$(".slidebackward").fadeOut();
	    });
	    $(".pauseButton").toggle(function(){
		$(this).attr("class", "playButton");
		$('#slider').data('AnythingSlider').startStop(false); // stops the slideshow
	    },function(){
		$(this).attr("class", "pauseButton");
		$('.slider').data('AnythingSlider').startStop(true);  // start the slideshow
	    });
	    $(".slideforward").click(function(){
		$('.slider').data('AnythingSlider').goForward();
	    });
	    $(".slidebackward").click(function(){
		$('.slider').data('AnythingSlider').goBack();
	    });
	});

</script>



<div id="mainwrap">

	<div id="main" class="clearfix">

		<div class="pad"></div>

			<div class="content blog">

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/news-events" rel="bookmark" title="Permanent Link to Novo Slings Espresso at TEDx Mile High"><img src="/images/baristas.jpeg" alt="Novo Slings Espresso at TEDx Mile High"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/news-events" rel="bookmark" title="Permanent Link to Novo Slings Espresso at TEDx Mile High">Novo Slings Espresso at TEDx Mile High</a>
								</h2>
															</div>
							<div class="blogcontent">What are you doing Saturday, June 15th? Don't have plans, you say? Perfect. Celebrate big ideas and engaged citizenship with <a href="http://www.tedxmilehigh.com/about/">TedX Mile High</a>. And even better, Novo is a proud sponsor of the event, and we will be serving up delicious coffee drinks throughout the day. Don't miss out on joining an inspiring group of Colorado based thinkers!</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="http://novocoffee.com/novo-slings-espresso-at-tedx-mile-high/" addthis:title="Novo Slings Espresso at TEDx Mile High"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh82" title="AddThis utility frame" src="/javascript/sh172.html" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px; display: block;"></iframe></div><script type="text/javascript" src="/javascript/core155.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/news-events" rel="bookmark" title="Permanent Link to Novo hosts Denver FIVE at 3008 Larimer"><img src="/images/coffee_pour.jpeg" alt="Novo hosts Denver FIVE at 3008 Larimer"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/news-events" rel="bookmark" title="Permanent Link to Novo hosts Denver FIVE at 3008 Larimer">Novo hosts Denver FIVE at 3008 Larimer</a>
								</h2>
															</div>
							<div class="blogcontent">This past Monday, after&nbsp;scrubbing the warehouse in anticipation of more than 50 dinner guests,&nbsp;we hosted the Denver FIVE collective for a delightful "breakfast for dinner" themed event. We . A lively time was had by all, complete with creative, fantastic dishes from some of Denver's best known chefs. <a href="http://goutaste.com/five-at-five-denver-review-dinner/">Read a review of the dinner here.&nbsp;</a></div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="http://novocoffee.com/novo-hosts-denver-five-at-3008-larimer/" addthis:title="Novo hosts Denver FIVE at 3008 Larimer"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/news-events" rel="bookmark" title="Permanent Link to Denver Post: Novo is welcome downtown"><img src="/images/blue_chairs.jpeg" alt="Denver Post: Novo is welcome downtown"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/news-events" rel="bookmark" title="Permanent Link to Denver Post: Novo is welcome downtown">Denver Post: Novo is welcome downtown</a>
								</h2>
															</div>
							<div class="blogcontent">The Denver Post swung by for a visit and <a href="http://blogs.denverpost.com/food/2013/05/09/novo-coffees-new-cafe-a-welcome-and-much-needed-addition-to-downtown/18963/">noted</a> Novo Coffee is a welcome, and much-needed addition to downtown Denver. We couldn't agree more!</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="http://novocoffee.com/denver-post-novo-is-welcome-downtown/" addthis:title="Denver Post: Novo is welcome downtown"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/news-events" rel="bookmark" title="Permanent Link to Eater’s Sneak Peek of 1600 Glenarm"><img src="/php/timthumb(8).php" alt="Eater’s Sneak Peek of 1600 Glenarm"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/news-events" rel="bookmark" title="Permanent Link to Eater’s Sneak Peek of 1600 Glenarm">Eater’s Sneak Peek of 1600 Glenarm</a>
								</h2>
															</div>
							<div class="blogcontent">Eater came by the other day to offer a sneak peak of Novo Coffee on Glenarm. They took some lovely shots, check out the awesome pictures they took&nbsp;<a href="http://denver.eater.com/archives/2013/05/01/novo.php">here.&nbsp;</a></div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="http://novocoffee.com/6407/" addthis:title="Eater’s Sneak Peek of 1600 Glenarm"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/news-events" rel="bookmark" title="Permanent Link to Novo featured in Wynkoop Brewery’s Vonnegut Dinner"><img src="/php/timthumb(9).php" alt="Novo featured in Wynkoop Brewery’s Vonnegut Dinner"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/news-events" rel="bookmark" title="Permanent Link to Novo featured in Wynkoop Brewery’s Vonnegut Dinner">Novo featured in Wynkoop Brewery’s Vonnegut Dinner</a>
								</h2>
															</div>
							<div class="blogcontent">Along with our good friends at Tender Belly, Novo Coffee was the featured menu item at <a href="http://blogs.denverpost.com/beer/2013/04/09/wynkoop-vonnegut-beer-breakfast-of-champions-dinner/9378/">Wynkoop Brewery's "Breakfast of Champions" Vonnegut tribute dinner</a>. Kurt's Mile High lager featured Novo Coffee in a receipe that changed hands between the legendary author and Governor Hickenlooper's father. &nbsp;The 18-barrel batch served to celebrate both Vonnegut's life and the 25th anniversary of Wynkoop Brewery.</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="http://novocoffee.com/novo-featured-in-wynkoop-brewerys-vonnegut-dinner/" addthis:title="Novo featured in Wynkoop Brewery’s Vonnegut Dinner"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/news-events" rel="bookmark" title="Permanent Link to Cascara Quad: Novo Teams Up With New Belgium"><img src="/php/timthumb(10).php" alt="Cascara Quad: Novo Teams Up With New Belgium"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/news-events" rel="bookmark" title="Permanent Link to Cascara Quad: Novo Teams Up With New Belgium">Cascara Quad: Novo Teams Up With New Belgium</a>
								</h2>
															</div>
							<div class="blogcontent">Novo has teamed up with Fort Collins-based New Belgium brewery to make a coffee-cherry infused beer. Coffee cherries, known as cascara, is the fruit surrounding the coffee bean and is frequently used to make tea in countries where coffee trees grow. The Trappist ale, <a href="http://www.newbelgium.com/beer/detail.aspx?id=29522653-796e-474c-ac5f-b7fd240ff8cb">Cascara Quad</a>, will be released as part of New Belgium's well known limited edition Lips of Faith series.</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="http://novocoffee.com/cascara-quad-novo-teams-up-with-new-belgium/" addthis:title="Cascara Quad: Novo Teams Up With New Belgium"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>
										<div class="wp-pagenavi">
<span class="pages">Page 2 of 2</span><a href="/news-events" class="previouspostslink">«</a><a href="/news-events" class="page" title="1">1</a><span class="current">2</span></div>

									</div>



				<div class="sidebar">

					<div class="widget-1 widget-first widget category_posts"><h3><span>Popular</span> Posts</h3><div class="titleborder"></div>





				<div class="widgett">

    			<div class="imgholder"><a href="/news-events" rel="bookmark" title="Permanent Link to Cascara Quad: Novo Teams Up With New Belgium"><img src="/php/timthumb(11).php" alt="Cascara Quad: Novo Teams Up With New Belgium"></a></div>
				<div class="wttitle"><h4><a href="/news-events" rel="bookmark" title="Permanent Link to Cascara Quad: Novo Teams Up With New Belgium">Cascara Quad: Novo Teams Up With New Bel...</a></h4></div>


				</div>

				<div class="widgett">

    			<div class="imgholder"><a href="/news-events" rel="bookmark" title="Permanent Link to It’s Our Birthday"><img src="/php/timthumb(12).php" alt="It’s Our Birthday"></a></div>
				<div class="wttitle"><h4><a href="http://novocoffee.com/its-our-birthday/" rel="bookmark" title="Permanent Link to It’s Our Birthday">It’s Our Birthday...</a></h4></div>


				</div>





				<div class="widgett">

    			<div class="imgholder"><a href="/news-events" rel="bookmark" title="Permanent Link to Job Opening – Position Filled"><img src="/php/timthumb(13).php" alt="Job Opening – Position Filled"></a></div>
				<div class="wttitle"><h4><a href="http://novocoffee.com/job-opening/" rel="bookmark" title="Permanent Link to Job Opening – Position Filled">Job Opening – Position Filled...</a></h4></div>


				</div>

	</div><div class="widget-2 widget widget_categories"><h3>Categories</h3><div class="titleborder"></div>		<ul>
	<li class="cat-item cat-item-166"><a href="/news-events" title="View all posts filed under Events">Events</a> (6)
</li>
	<li class="cat-item cat-item-164"><a href="/news-events" title="View all posts filed under News">News</a> (1)
</li>
	<li class="cat-item cat-item-165"><a href="/news-events" title="View all posts filed under Press">Press</a> (4)
</li>
	<li class="cat-item cat-item-1"><a href="/news-events" title="View all posts filed under Uncategorized">Uncategorized</a> (7)
</li>
		</ul>
</div><div class="widget-3 widget-last widget widget_calendar"><div id="calendar_wrap"><table id="wp-calendar">
	<caption>September 2014</caption>
	<thead>
	<tr>
		<th scope="col" title="Monday">M</th>
		<th scope="col" title="Tuesday">T</th>
		<th scope="col" title="Wednesday">W</th>
		<th scope="col" title="Thursday">T</th>
		<th scope="col" title="Friday">F</th>
		<th scope="col" title="Saturday">S</th>
		<th scope="col" title="Sunday">S</th>
	</tr>
	</thead>

	<tfoot>
	<tr>
		<td colspan="3" id="prev"><a href="/news-events" title="View posts for May 2014">« May</a></td>
		<td class="pad">&nbsp;</td>
		<td colspan="3" id="next" class="pad">&nbsp;</td>
	</tr>
	</tfoot>

	<tbody>
	<tr><td>1</td><td>2</td><td>3</td><td>4</td><td><a href="/news-events" title="Job Opening">5</a></td><td>6</td><td>7</td>
	</tr>
	<tr>
		<td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td id="today">14</td>
	</tr>
	<tr>
		<td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
	</tr>
	<tr>
		<td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
	</tr>
	<tr>
		<td>29</td><td>30</td>
		<td class="pad" colspan="5">&nbsp;</td>
	</tr>
	</tbody>
	</table></div></div>
				</div>
			</div>

	</div>
<a href="http://www.fireantstudio.com/" target="_blank">

<script type="text/javascript" src="/javascript/gistfile_pmc.js"></script>
<script type="text/javascript" src="/javascript/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.placeholder.min.js"></script>

<script type="text/javascript" src="/javascript/woocommerce.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/javascript/cart-fragments.min.js"></script>

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function(){
    	jQuery("a[rel^='prettyPhoto']").prettyPhoto({theme:'light_rounded',overlay_gallery: false,show_title: false,deeplinking:false});
    });
</script>
<script type="text/javascript" src="/javascript/js"></script><script src="/javascript/main.js" type="text/javascript"></script>
</a></body></html>
