<head>
	<title>News + Events | Novo Coffee</title>
</head>

<body class="blog" data-feedly-mini="yes">

<div class="outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(/images/hero_slim_about_cherries.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>News + Events

				</h1>
				<!-- <p></p> -->
			</div>
			<!-- <div class="homeIcon"><a href=""></a></div> -->
		</div>
	</div>
</div>



<script type="text/javascript">
jQuery(document).ready(function($){
	    $('.slider').anythingSlider({
		hashTags 					: false,
		expand						: true,
		autoPlay					: true,
		resizeContents  	: false,
		pauseOnHover   	 	: true,
		buildArrows     	: false,
		buildNavigation		: false,
		delay							: 4000,
		resumeDelay				: 0,
		animationTime			: 800,
		delayBeforeAnimate:0,
		easing 						: 'easeInOutQuint',
	    })


	    $('.slider-wrapper').hover(function() {
		$(".slideforward").stop(true, true).fadeIn();
		$(".slidebackward").stop(true, true).fadeIn();
	    }, function() {
		$(".slideforward").fadeOut();
		$(".slidebackward").fadeOut();
	    });
	    $(".pauseButton").toggle(function(){
		$(this).attr("class", "playButton");
		$('#slider').data('AnythingSlider').startStop(false); // stops the slideshow
	    },function(){
		$(this).attr("class", "pauseButton");
		$('.slider').data('AnythingSlider').startStop(true);  // start the slideshow
	    });
	    $(".slideforward").click(function(){
		$('.slider').data('AnythingSlider').goForward();
	    });
	    $(".slidebackward").click(function(){
		$('.slider').data('AnythingSlider').goBack();
	    });
	});

</script>



<div id="mainwrap">

	<div id="main" class="clearfix">

		<div class="pad"></div>

			<div class="content blog">

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/job-opening-2/" rel="bookmark" title="Permanent Link to Job Opening"><img src="/php/timthumb(5).php" alt="Job Opening"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/job-opening-2/" rel="bookmark" title="Permanent Link to Job Opening">Job Opening</a>
								</h2>
															</div>
							<div class="blogcontent">Novo is on the hunt for a&nbsp;full time, logistically minded, coffee loving Delivery Driver/Account Manager at our Larimer Street headquarters. This position is responsible for delivering product and managing wholesale relationships along the Front Range.Key responsibilities: Weekly deliveries to restaurants, cafes and retail outlets. Spot training on multiple brewing methods including espresso, drip and pourover. Ensuring brewing and serving standards are met and equipment is properly maintained. Diagnosis of equipment service issues. Sales of new coffees and related products that add value to the customer.Job requirements: Clean driving record. Background in coffee. Quick and efficient work habits. Strategic thinker who takes ownership of their role and is always looking to improve. Strong interest and commitment to working with (and tasting!) some of the world's best coffees. Appreciation of the dynamics of a small and growing company with a great reputation within Colorado and throughout the country. Ability to lift up to 60 lbs on a regular basis. Team player who brings a positive attitude and passion to a dynamic work environment. Someone who is comfortable both following directions and taking the initiative to drive certain projects to completion.Hours:&nbsp;M-F approximately 40-45 hours per week, with occasional nights or weekends.Compensation: DOE, please include specific requirements in your inquiry.Interested candidates please send resume to info@novocoffee.com.&nbsp;Thanks!</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/job-opening-2/" addthis:title="Job Opening"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh929" title="AddThis utility frame" src="/news-events/sh172.html" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px; display: block;"></iframe></div><script type="text/javascript" src="/javascript/core155.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/its-our-birthday/" rel="bookmark" title="Permanent Link to It’s Our Birthday"><img src="/php/timthumb(6).php" alt="It’s Our Birthday"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/its-our-birthday/" rel="bookmark" title="Permanent Link to It’s Our Birthday">It’s Our Birthday</a>
								</h2>
															</div>
							<div class="blogcontent">Join us as we celebrate coming into existence on Friday May 9th! We will be serving free 10oz coffee's all day, $3 beer starting at 12pm, and we will have a drawing for a $50 gift certificate! Thank you all for your support in making this a wonderful journey and growing experience thus far. We look forward to serving you for many more years.</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/its-our-birthday/" addthis:title="It’s Our Birthday"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/job-opening/" rel="bookmark" title="Permanent Link to Job Opening – Position Filled"><img src="/php/timthumb(5).php" alt="Job Opening – Position Filled"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/job-opening/" rel="bookmark" title="Permanent Link to Job Opening – Position Filled">Job Opening – Position Filled</a>
								</h2>
															</div>
							<div class="blogcontent">We have some news. Elizabeth, one of the biggest rockstars in Novo, is leaving us for Chicago. We will miss her charismatic personality and ability to take on any challenge she is presented with and nail it. Elizabeth has been a crucial cog in spinning this wheel that is Novo, and it will take a lot to find someone who can fill her shoes.&nbsp;All that being said, we are looking to fill the position of Office Manager/Bookkeeper at Novo. Details as follows:&nbsp;Job Title: Bookkeeper/Office Manager - Novo Coffee&nbsp;Description: We are seeking a full time bookkeeper/office manager at&nbsp;our Larimer street headquarters. M-F approximately 40 hours per week. Occasional weekends.&nbsp;Key Responsibilities: Customer relations (email, phone and in person), Invoicing, A/P, A/R, payroll, bank&nbsp;reconciliation, tax reporting, budgeting, monthly and quarterly&nbsp;P and L's, basic HR activities, and other general bookkeeping and&nbsp;office management duties. You also may be asked to assist in event planning, coffee production, giving tours, and setting up coffee cuppings, among other things. We have a small team that covers a lot of ground - you will be expected to cover a lot as well.&nbsp;Requirements: Highly skilled in QB and Microsoft Office (word and&nbsp;excel primarily). Excellent verbal and written communication skills.&nbsp;Detail oriented. Ability to thrive in a dynamic small business&nbsp;environment with minimal supervision. Problem solver. Strong interest&nbsp;in high quality coffee. Happy.&nbsp;Compensation: TBD, if you </div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/job-opening/" addthis:title="Job Opening – Position Filled"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/pre-release-and-latte-art-competition/" rel="bookmark" title="Permanent Link to Pre-Release and Latte Art Competition"><img src="/php/timthumb(7).php" alt="Pre-Release and Latte Art Competition"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/pre-release-and-latte-art-competition/" rel="bookmark" title="Permanent Link to Pre-Release and Latte Art Competition">Pre-Release and Latte Art Competition</a>
								</h2>
															</div>
							<div class="blogcontent">Join us at Glenarm on Friday April 18th at 5pm for beer and competition! We will be pre-releasing Kurt Vonnegut's family beer (which was made with Anyetsu) with Wynkoop Brewery and competing in a Latte Art Competition! The competition is open to the first 20 people who sign up, so get there quick! It's a $10 buy in, winner takes all and Novo will be DOUBLING THE POT! No better way to spend a Friday night in our opinion...</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/pre-release-and-latte-art-competition/" addthis:title="Pre-Release and Latte Art Competition"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/renegade-brewing-collaboration/" rel="bookmark" title="Permanent Link to Renegade Brewing Collaboration"><img src="/php/timthumb(8).php" alt="Renegade Brewing Collaboration"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/renegade-brewing-collaboration/" rel="bookmark" title="Permanent Link to Renegade Brewing Collaboration">Renegade Brewing Collaboration</a>
								</h2>
															</div>
							<div class="blogcontent">Renegade Brewing CO is releasing bombers of their Sunday Morning beer which is made with Novo Coffee! We will be serving our Ulos Batak at the event which is happening on Thursday March 27 at 6pm in the Renegade Brewing Tap Room. Renegade will be offering special packages of the bomber paired with the coffee.</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/renegade-brewing-collaboration/" addthis:title="Renegade Brewing Collaboration"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/coffee-firkin/" rel="bookmark" title="Permanent Link to Coffee Firkin!"><img src="/php/timthumb(9).php" alt="Coffee Firkin!"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/coffee-firkin/" rel="bookmark" title="Permanent Link to Coffee Firkin!">Coffee Firkin!</a>
								</h2>
															</div>
							<div class="blogcontent">Join us on March 14th as we band together with <a title="Epic Brewing" href="http://www.epicbrewing.com/">Epic Brewing</a>&nbsp;to present the Santa Cruz Brown Ale made with Novo Cascara! This event is occurring at 1600 Glenarm from 5-10PM and will be filled with much coffee, beer, food, and joy.</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/coffee-firkin/" addthis:title="Coffee Firkin!"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/retail-cuppings/" rel="bookmark" title="Permanent Link to Retail Cuppings"><img src="/php/timthumb(10).php" alt="Retail Cuppings"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/retail-cuppings/" rel="bookmark" title="Permanent Link to Retail Cuppings">Retail Cuppings</a>
								</h2>
															</div>
							<div class="blogcontent">We are now hosting bi-weekly Coffee Cuppings at both <a href="/contact-locations/" target="_blank">Novo Gilpin</a>, and <a href="/contact-locations/" target="_blank">Novo Glenarm</a>. They will be every other Wednesday and Saturday. To find the exact dates click <a href="http://www.facebook.com/novocoffee" target="_blank">here</a>&nbsp;and find our calendar. These cuppings are hosted in order to help enhance the understanding of what is actually happening in a good cup of coffee. They are for people looking to refine their palates, or just learn a little more about coffee amongst fellow coffee-lovers.</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/retail-cuppings/" addthis:title="Retail Cuppings"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/sign-up-for-a-cupping/" rel="bookmark" title="Permanent Link to Sign Up For a Cupping &amp; Tour"><img src="/php/timthumb(11).php" alt="Sign Up For a Cupping &amp; Tour"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/sign-up-for-a-cupping/" rel="bookmark" title="Permanent Link to Sign Up For a Cupping &amp; Tour">Sign Up For a Cupping &amp; Tour</a>
								</h2>
															</div>
							<div class="blogcontent">We like to taste coffee. We like to talk about coffee. We like to talk about tasting coffee! And we'd love it if you joined us. Every Friday at 3008 Larimer Street, we host educational coffee cuppings and tours of the roastery at noon.Each cupping is eight people or fewer, and includes a tasting and discussion on origin, brewing, and flavor profiles led by our head roaster, <a href="/team_member/erich-rosenberg/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">Erich</a>. The tour and cupping session lasts about an hour and is $15. Best of all: it includes a free bag of freshly roasted coffee.Email <a title="Cupping &amp; Tour Signup" href="mailto:info@novocoffee.com">info@novocoffee.com</a> to sign up. We look forward to seeing you soon!</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/sign-up-for-a-cupping/" addthis:title="Sign Up For a Cupping &amp; Tour"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/final-friday-music-walk-urban-bazaar/" rel="bookmark" title="Permanent Link to Final Friday: Music Walk &amp; Urban Bazaar"><img src="/php/timthumb(12).php" alt="Final Friday: Music Walk &amp; Urban Bazaar"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/final-friday-music-walk-urban-bazaar/" rel="bookmark" title="Permanent Link to Final Friday: Music Walk &amp; Urban Bazaar">Final Friday: Music Walk &amp; Urban Bazaar</a>
								</h2>
															</div>
							<div class="blogcontent">Join us for Final Friday! The last Friday of every month May-September, Novo will be throwing our doors open at 3008 Larimer and hosting musicians, artists, and guests. Wristbands are available for $5, and allow access to more than 50 performers over the course of several blocks and 30 venues in RiNo. Stop by anytime from 7-10:30p.m. on July 26th and <a href="http://www.megafaunastore.com/finalfriday/">read more here.&nbsp;</a></div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/final-friday-music-walk-urban-bazaar/" addthis:title="Final Friday: Music Walk &amp; Urban Bazaar"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>

						<div class="blogpostcategory">
							<div class="blogimage">

														<a href="/test-1/" rel="bookmark" title="Permanent Link to Westword offers sneak peek at 1600 Glenarm"><img src="/php/timthumb(11).php" alt="Westword offers sneak peek at 1600 Glenarm"></a>
						</div>

						<div class="entry">

							<div class="meta">
								<h2 class="title">
									<a href="/test-1/" rel="bookmark" title="Permanent Link to Westword offers sneak peek at 1600 Glenarm">Westword offers sneak peek at 1600 Glenarm</a>
								</h2>
															</div>
							<div class="blogcontent">Our friends over at Westword stopped by the shop and took some <a href="http://blogs.westword.com/cafesociety/2013/05/all_photos_by_danielle_lirette_4.php" target="_blank">lovely shots</a> of our new retail location. Take a peek and then come down to 1600 Glenarm to see for yourself in person!</div>
							<div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button" addthis:url="/test-1/" addthis:title="Westword offers sneak peek at 1600 Glenarm"><img src="/images/socialIconShareMore.png" width="64" height="64" border="0" alt="More..."></a></div><script type="text/javascript" src="/javascript/addthis_widget.js"></script><div class="atclear"></div></div></div>
						</div>
				</div>
										<div class="wp-pagenavi">
<span class="pages">Page 1 of 2</span><span class="current">1</span><a href="/news-events/2" class="page" title="2">2</a><a href="/news-events/2" class="nextpostslink">»</a></div>

									</div>



				<div class="sidebar">

					<div class="widget-1 widget-first widget category_posts"><h3><span>Popular</span> Posts</h3><div class="titleborder"></div>





				<div class="widgett">

    			<div class="imgholder"><a href="/cascara-quad-novo-teams-up-with-new-belgium/" rel="bookmark" title="Permanent Link to Cascara Quad: Novo Teams Up With New Belgium"><img src="/php/timthumb(13).php" alt="Cascara Quad: Novo Teams Up With New Belgium"></a></div>
				<div class="wttitle"><h4><a href="/cascara-quad-novo-teams-up-with-new-belgium/" rel="bookmark" title="Permanent Link to Cascara Quad: Novo Teams Up With New Belgium">Cascara Quad: Novo Teams Up With New Bel...</a></h4></div>


				</div>





				<div class="widgett">

    			<div class="imgholder"><a href="/its-our-birthday/" rel="bookmark" title="Permanent Link to It’s Our Birthday"><img src="/php/timthumb(14).php" alt="It’s Our Birthday"></a></div>
				<div class="wttitle"><h4><a href="/its-our-birthday/" rel="bookmark" title="Permanent Link to It’s Our Birthday">It’s Our Birthday...</a></h4></div>


				</div>





				<div class="widgett">

    			<div class="imgholder"><a href="/job-opening/" rel="bookmark" title="Permanent Link to Job Opening – Position Filled"><img src="/php/timthumb(15).php" alt="Job Opening – Position Filled"></a></div>
				<div class="wttitle"><h4><a href="/job-opening/" rel="bookmark" title="Permanent Link to Job Opening – Position Filled">Job Opening – Position Filled...</a></h4></div>


				</div>






	</div><div class="widget-2 widget widget_categories"><h3>Categories</h3><div class="titleborder"></div>		<ul>
	<li class="cat-item cat-item-166"><a href="/category/events/" title="View all posts filed under Events">Events</a> (6)
</li>
	<li class="cat-item cat-item-164"><a href="/category/news/" title="View all posts filed under News">News</a> (1)
</li>
	<li class="cat-item cat-item-165"><a href="/category/press/" title="View all posts filed under Press">Press</a> (4)
</li>
	<li class="cat-item cat-item-1"><a href="/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a> (7)
</li>
		</ul>
</div><div class="widget-3 widget-last widget widget_calendar"><div id="calendar_wrap"><table id="wp-calendar">
	<caption>September 2014</caption>
	<thead>
	<tr>
		<th scope="col" title="Monday">M</th>
		<th scope="col" title="Tuesday">T</th>
		<th scope="col" title="Wednesday">W</th>
		<th scope="col" title="Thursday">T</th>
		<th scope="col" title="Friday">F</th>
		<th scope="col" title="Saturday">S</th>
		<th scope="col" title="Sunday">S</th>
	</tr>
	</thead>

	<tfoot>
	<tr>
		<td colspan="3" id="prev"><a href="/2014/05/" title="View posts for May 2014">« May</a></td>
		<td class="pad">&nbsp;</td>
		<td colspan="3" id="next" class="pad">&nbsp;</td>
	</tr>
	</tfoot>

	<tbody>
	<tr><td>1</td><td>2</td><td>3</td><td>4</td><td><a href="/2014/09/05/" title="Job Opening">5</a></td><td>6</td><td>7</td>
	</tr>
	<tr>
		<td>8</td><td>9</td><td>10</td><td>11</td><td id="today">12</td><td>13</td><td>14</td>
	</tr>
	<tr>
		<td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
	</tr>
	<tr>
		<td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
	</tr>
	<tr>
		<td>29</td><td>30</td>
		<td class="pad" colspan="5">&nbsp;</td>
	</tr>
	</tbody>
	</table></div></div>
				</div>
			</div>

	</div>

<a href="http://www.fireantstudio.com/" target="_blank">

<script type="text/javascript" src="/javascript/gistfile_pmc.js"></script>
<script type="text/javascript" src="/javascript/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.placeholder.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"countries":"{\"AF\":[],\"AT\":[],\"BE\":[],\"BI\":[],\"CZ\":[],\"DE\":[],\"DK\":[],\"FI\":[],\"FR\":[],\"HU\":[],\"IS\":[],\"IL\":[],\"KR\":[],\"NL\":[],\"NO\":[],\"PL\":[],\"PT\":[],\"SG\":[],\"SK\":[],\"SI\":[],\"LK\":[],\"SE\":[],\"VN\":[],\"AU\":{\"ACT\":\"Australian Capital Territory\",\"NSW\":\"New South Wales\",\"NT\":\"Northern Territory\",\"QLD\":\"Queensland\",\"SA\":\"South Australia\",\"TAS\":\"Tasmania\",\"VIC\":\"Victoria\",\"WA\":\"Western Australia\"},\"BR\":{\"AC\":\"Acre\",\"AL\":\"Alagoas\",\"AP\":\"Amap\u00e1\",\"AM\":\"Amazonas\",\"BA\":\"Bahia\",\"CE\":\"Cear\u00e1\",\"DF\":\"Distrito Federal\",\"ES\":\"Esp\u00edrito Santo\",\"GO\":\"Goi\u00e1s\",\"MA\":\"Maranh\u00e3o\",\"MT\":\"Mato Grosso\",\"MS\":\"Mato Grosso do Sul\",\"MG\":\"Minas Gerais\",\"PA\":\"Par\u00e1\",\"PB\":\"Para\u00edba\",\"PR\":\"Paran\u00e1\",\"PE\":\"Pernambuco\",\"PI\":\"Piau\u00ed\",\"RJ\":\"Rio de Janeiro\",\"RN\":\"Rio Grande do Norte\",\"RS\":\"Rio Grande do Sul\",\"RO\":\"Rond\u00f4nia\",\"RR\":\"Roraima\",\"SC\":\"Santa Catarina\",\"SP\":\"S\u00e3o Paulo\",\"SE\":\"Sergipe\",\"TO\":\"Tocantins\"},\"CA\":{\"AB\":\"Alberta\",\"BC\":\"British Columbia\",\"MB\":\"Manitoba\",\"NB\":\"New Brunswick\",\"NL\":\"Newfoundland\",\"NT\":\"Northwest Territories\",\"NS\":\"Nova Scotia\",\"NU\":\"Nunavut\",\"ON\":\"Ontario\",\"PE\":\"Prince Edward Island\",\"QC\":\"Quebec\",\"SK\":\"Saskatchewan\",\"YT\":\"Yukon Territory\"},\"CN\":{\"CN1\":\"Yunnan \\\/ \u4e91\u5357\",\"CN2\":\"Beijing \\\/ \u5317\u4eac\",\"CN3\":\"Tianjin \\\/ \u5929\u6d25\",\"CN4\":\"Hebei \\\/ \u6cb3\u5317\",\"CN5\":\"Shanxi \\\/ \u5c71\u897f\",\"CN6\":\"Inner Mongolia \\\/ \u5167\u8499\u53e4\",\"CN7\":\"Liaoning \\\/ \u8fbd\u5b81\",\"CN8\":\"Jilin \\\/ \u5409\u6797\",\"CN9\":\"Heilongjiang \\\/ \u9ed1\u9f99\u6c5f\",\"CN10\":\"Shanghai \\\/ \u4e0a\u6d77\",\"CN11\":\"Jiangsu \\\/ \u6c5f\u82cf\",\"CN12\":\"Zhejiang \\\/ \u6d59\u6c5f\",\"CN13\":\"Anhui \\\/ \u5b89\u5fbd\",\"CN14\":\"Fujian \\\/ \u798f\u5efa\",\"CN15\":\"Jiangxi \\\/ \u6c5f\u897f\",\"CN16\":\"Shandong \\\/ \u5c71\u4e1c\",\"CN17\":\"Henan \\\/ \u6cb3\u5357\",\"CN18\":\"Hubei \\\/ \u6e56\u5317\",\"CN19\":\"Hunan \\\/ \u6e56\u5357\",\"CN20\":\"Guangdong \\\/ \u5e7f\u4e1c\",\"CN21\":\"Guangxi Zhuang \\\/ \u5e7f\u897f\u58ee\u65cf\",\"CN22\":\"Hainan \\\/ \u6d77\u5357\",\"CN23\":\"Chongqing \\\/ \u91cd\u5e86\",\"CN24\":\"Sichuan \\\/ \u56db\u5ddd\",\"CN25\":\"Guizhou \\\/ \u8d35\u5dde\",\"CN26\":\"Shaanxi \\\/ \u9655\u897f\",\"CN27\":\"Gansu \\\/ \u7518\u8083\",\"CN28\":\"Qinghai \\\/ \u9752\u6d77\",\"CN29\":\"Ningxia Hui \\\/ \u5b81\u590f\",\"CN30\":\"Macau \\\/ \u6fb3\u95e8\",\"CN31\":\"Tibet \\\/ \u897f\u85cf\",\"CN32\":\"Xinjiang \\\/ \u65b0\u7586\"},\"HK\":{\"HONG KONG\":\"Hong Kong Island\",\"KOWLOON\":\"Kowloon\",\"NEW TERRITORIES\":\"New Territories\"},\"IN\":{\"AP\":\"Andra Pradesh\",\"AR\":\"Arunachal Pradesh\",\"AS\":\"Assam\",\"BR\":\"Bihar\",\"CT\":\"Chhattisgarh\",\"GA\":\"Goa\",\"GJ\":\"Gujarat\",\"HR\":\"Haryana\",\"HP\":\"Himachal Pradesh\",\"JK\":\"Jammu and Kashmir\",\"JH\":\"Jharkhand\",\"KA\":\"Karnataka\",\"KL\":\"Kerala\",\"MP\":\"Madhya Pradesh\",\"MH\":\"Maharashtra\",\"MN\":\"Manipur\",\"ML\":\"Meghalaya\",\"MZ\":\"Mizoram\",\"NL\":\"Nagaland\",\"OR\":\"Orissa\",\"PB\":\"Punjab\",\"RJ\":\"Rajasthan\",\"SK\":\"Sikkim\",\"TN\":\"Tamil Nadu\",\"TR\":\"Tripura\",\"UT\":\"Uttaranchal\",\"UP\":\"Uttar Pradesh\",\"WB\":\"West Bengal\",\"AN\":\"Andaman and Nicobar Islands\",\"CH\":\"Chandigarh\",\"DN\":\"Dadar and Nagar Haveli\",\"DD\":\"Daman and Diu\",\"DL\":\"Delhi\",\"LD\":\"Lakshadeep\",\"PY\":\"Pondicherry (Puducherry)\"},\"ID\":{\"AC\":\"Daerah Istimewa Aceh\",\"SU\":\"Sumatera Utara\",\"SB\":\"Sumatera Barat\",\"RI\":\"Riau\",\"KR\":\"Kepulauan Riau\",\"JA\":\"Jambi\",\"SS\":\"Sumatera Selatan\",\"BB\":\"Bangka Belitung\",\"BE\":\"Bengkulu\",\"LA\":\"Lampung\",\"JK\":\"DKI Jakarta\",\"JB\":\"Jawa Barat\",\"BT\":\"Banten\",\"JT\":\"Jawa Tengah\",\"JI\":\"Jawa Timur\",\"YO\":\"Daerah Istimewa Yogyakarta\",\"BA\":\"Bali\",\"NB\":\"Nusa Tenggara Barat\",\"NT\":\"Nusa Tenggara Timur\",\"KB\":\"Kalimantan Barat\",\"KT\":\"Kalimantan Tengah\",\"KI\":\"Kalimantan Timur\",\"KS\":\"Kalimantan Selatan\",\"KU\":\"Kalimantan Utara\",\"SA\":\"Sulawesi Utara\",\"ST\":\"Sulawesi Tengah\",\"SG\":\"Sulawesi Tenggara\",\"SR\":\"Sulawesi Barat\",\"SN\":\"Sulawesi Selatan\",\"GO\":\"Gorontalo\",\"MA\":\"Maluku\",\"MU\":\"Maluku Utara\",\"PA\":\"Papua\",\"PB\":\"Papua Barat\"},\"MY\":{\"JHR\":\"Johor\",\"KDH\":\"Kedah\",\"KTN\":\"Kelantan\",\"MLK\":\"Melaka\",\"NSN\":\"Negeri Sembilan\",\"PHG\":\"Pahang\",\"PRK\":\"Perak\",\"PLS\":\"Perlis\",\"PNG\":\"Pulau Pinang\",\"SBH\":\"Sabah\",\"SWK\":\"Sarawak\",\"SGR\":\"Selangor\",\"TRG\":\"Terengganu\",\"KUL\":\"W.P. Kuala Lumpur\",\"LBN\":\"W.P. Labuan\",\"PJY\":\"W.P. Putrajaya\"},\"NZ\":{\"NL\":\"Northland\",\"AK\":\"Auckland\",\"WA\":\"Waikato\",\"BP\":\"Bay of Plenty\",\"TK\":\"Taranaki\",\"HB\":\"Hawke\u2019s Bay\",\"MW\":\"Manawatu-Wanganui\",\"WE\":\"Wellington\",\"NS\":\"Nelson\",\"MB\":\"Marlborough\",\"TM\":\"Tasman\",\"WC\":\"West Coast\",\"CT\":\"Canterbury\",\"OT\":\"Otago\",\"SL\":\"Southland\"},\"ZA\":{\"EC\":\"Eastern Cape\",\"FS\":\"Free State\",\"GP\":\"Gauteng\",\"KZN\":\"KwaZulu-Natal\",\"LP\":\"Limpopo\",\"MP\":\"Mpumalanga\",\"NC\":\"Northern Cape\",\"NW\":\"North West\",\"WC\":\"Western Cape\"},\"ES\":{\"C\":\"A Coru\u00f1a\",\"VI\":\"\u00c1lava\",\"AB\":\"Albacete\",\"A\":\"Alicante\",\"AL\":\"Almer\u00eda\",\"O\":\"Asturias\",\"AV\":\"\u00c1vila\",\"BA\":\"Badajoz\",\"PM\":\"Baleares\",\"B\":\"Barcelona\",\"BU\":\"Burgos\",\"CC\":\"C\u00e1ceres\",\"CA\":\"C\u00e1diz\",\"S\":\"Cantabria\",\"CS\":\"Castell\u00f3n\",\"CE\":\"Ceuta\",\"CR\":\"Ciudad Real\",\"CO\":\"C\u00f3rdoba\",\"CU\":\"Cuenca\",\"GI\":\"Girona\",\"GR\":\"Granada\",\"GU\":\"Guadalajara\",\"SS\":\"Guip\u00fazcoa\",\"H\":\"Huelva\",\"HU\":\"Huesca\",\"J\":\"Ja\u00e9n\",\"LO\":\"La Rioja\",\"GC\":\"Las Palmas\",\"LE\":\"Le\u00f3n\",\"L\":\"Lleida\",\"LU\":\"Lugo\",\"M\":\"Madrid\",\"MA\":\"M\u00e1laga\",\"ML\":\"Melilla\",\"MU\":\"Murcia\",\"NA\":\"Navarra\",\"OR\":\"Ourense\",\"P\":\"Palencia\",\"PO\":\"Pontevedra\",\"SA\":\"Salamanca\",\"TF\":\"Santa Cruz de Tenerife\",\"SG\":\"Segovia\",\"SE\":\"Sevilla\",\"SO\":\"Soria\",\"T\":\"Tarragona\",\"TE\":\"Teruel\",\"TO\":\"Toledo\",\"V\":\"Valencia\",\"VA\":\"Valladolid\",\"BI\":\"Vizcaya\",\"ZA\":\"Zamora\",\"Z\":\"Zaragoza\"},\"TH\":{\"TH-37\":\"Amnat Charoen (\u0e2d\u0e33\u0e19\u0e32\u0e08\u0e40\u0e08\u0e23\u0e34\u0e0d)\",\"TH-15\":\"Ang Thong (\u0e2d\u0e48\u0e32\u0e07\u0e17\u0e2d\u0e07)\",\"TH-14\":\"Ayutthaya (\u0e1e\u0e23\u0e30\u0e19\u0e04\u0e23\u0e28\u0e23\u0e35\u0e2d\u0e22\u0e38\u0e18\u0e22\u0e32)\",\"TH-10\":\"Bangkok (\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23)\",\"TH-38\":\"Bueng Kan (\u0e1a\u0e36\u0e07\u0e01\u0e32\u0e2c)\",\"TH-31\":\"Buri Ram (\u0e1a\u0e38\u0e23\u0e35\u0e23\u0e31\u0e21\u0e22\u0e4c)\",\"TH-24\":\"Chachoengsao (\u0e09\u0e30\u0e40\u0e0a\u0e34\u0e07\u0e40\u0e17\u0e23\u0e32)\",\"TH-18\":\"Chai Nat (\u0e0a\u0e31\u0e22\u0e19\u0e32\u0e17)\",\"TH-36\":\"Chaiyaphum (\u0e0a\u0e31\u0e22\u0e20\u0e39\u0e21\u0e34)\",\"TH-22\":\"Chanthaburi (\u0e08\u0e31\u0e19\u0e17\u0e1a\u0e38\u0e23\u0e35)\",\"TH-50\":\"Chiang Mai (\u0e40\u0e0a\u0e35\u0e22\u0e07\u0e43\u0e2b\u0e21\u0e48)\",\"TH-57\":\"Chiang Rai (\u0e40\u0e0a\u0e35\u0e22\u0e07\u0e23\u0e32\u0e22)\",\"TH-20\":\"Chonburi (\u0e0a\u0e25\u0e1a\u0e38\u0e23\u0e35)\",\"TH-86\":\"Chumphon (\u0e0a\u0e38\u0e21\u0e1e\u0e23)\",\"TH-46\":\"Kalasin (\u0e01\u0e32\u0e2c\u0e2a\u0e34\u0e19\u0e18\u0e38\u0e4c)\",\"TH-62\":\"Kamphaeng Phet (\u0e01\u0e33\u0e41\u0e1e\u0e07\u0e40\u0e1e\u0e0a\u0e23)\",\"TH-71\":\"Kanchanaburi (\u0e01\u0e32\u0e0d\u0e08\u0e19\u0e1a\u0e38\u0e23\u0e35)\",\"TH-40\":\"Khon Kaen (\u0e02\u0e2d\u0e19\u0e41\u0e01\u0e48\u0e19)\",\"TH-81\":\"Krabi (\u0e01\u0e23\u0e30\u0e1a\u0e35\u0e48)\",\"TH-52\":\"Lampang (\u0e25\u0e33\u0e1b\u0e32\u0e07)\",\"TH-51\":\"Lamphun (\u0e25\u0e33\u0e1e\u0e39\u0e19)\",\"TH-42\":\"Loei (\u0e40\u0e25\u0e22)\",\"TH-16\":\"Lopburi (\u0e25\u0e1e\u0e1a\u0e38\u0e23\u0e35)\",\"TH-58\":\"Mae Hong Son (\u0e41\u0e21\u0e48\u0e2e\u0e48\u0e2d\u0e07\u0e2a\u0e2d\u0e19)\",\"TH-44\":\"Maha Sarakham (\u0e21\u0e2b\u0e32\u0e2a\u0e32\u0e23\u0e04\u0e32\u0e21)\",\"TH-49\":\"Mukdahan (\u0e21\u0e38\u0e01\u0e14\u0e32\u0e2b\u0e32\u0e23)\",\"TH-26\":\"Nakhon Nayok (\u0e19\u0e04\u0e23\u0e19\u0e32\u0e22\u0e01)\",\"TH-73\":\"Nakhon Pathom (\u0e19\u0e04\u0e23\u0e1b\u0e10\u0e21)\",\"TH-48\":\"Nakhon Phanom (\u0e19\u0e04\u0e23\u0e1e\u0e19\u0e21)\",\"TH-30\":\"Nakhon Ratchasima (\u0e19\u0e04\u0e23\u0e23\u0e32\u0e0a\u0e2a\u0e35\u0e21\u0e32)\",\"TH-60\":\"Nakhon Sawan (\u0e19\u0e04\u0e23\u0e2a\u0e27\u0e23\u0e23\u0e04\u0e4c)\",\"TH-80\":\"Nakhon Si Thammarat (\u0e19\u0e04\u0e23\u0e28\u0e23\u0e35\u0e18\u0e23\u0e23\u0e21\u0e23\u0e32\u0e0a)\",\"TH-55\":\"Nan (\u0e19\u0e48\u0e32\u0e19)\",\"TH-96\":\"Narathiwat (\u0e19\u0e23\u0e32\u0e18\u0e34\u0e27\u0e32\u0e2a)\",\"TH-39\":\"Nong Bua Lam Phu (\u0e2b\u0e19\u0e2d\u0e07\u0e1a\u0e31\u0e27\u0e25\u0e33\u0e20\u0e39)\",\"TH-43\":\"Nong Khai (\u0e2b\u0e19\u0e2d\u0e07\u0e04\u0e32\u0e22)\",\"TH-12\":\"Nonthaburi (\u0e19\u0e19\u0e17\u0e1a\u0e38\u0e23\u0e35)\",\"TH-13\":\"Pathum Thani (\u0e1b\u0e17\u0e38\u0e21\u0e18\u0e32\u0e19\u0e35)\",\"TH-94\":\"Pattani (\u0e1b\u0e31\u0e15\u0e15\u0e32\u0e19\u0e35)\",\"TH-82\":\"Phang Nga (\u0e1e\u0e31\u0e07\u0e07\u0e32)\",\"TH-93\":\"Phatthalung (\u0e1e\u0e31\u0e17\u0e25\u0e38\u0e07)\",\"TH-56\":\"Phayao (\u0e1e\u0e30\u0e40\u0e22\u0e32)\",\"TH-67\":\"Phetchabun (\u0e40\u0e1e\u0e0a\u0e23\u0e1a\u0e39\u0e23\u0e13\u0e4c)\",\"TH-76\":\"Phetchaburi (\u0e40\u0e1e\u0e0a\u0e23\u0e1a\u0e38\u0e23\u0e35)\",\"TH-66\":\"Phichit (\u0e1e\u0e34\u0e08\u0e34\u0e15\u0e23)\",\"TH-65\":\"Phitsanulok (\u0e1e\u0e34\u0e29\u0e13\u0e38\u0e42\u0e25\u0e01)\",\"TH-54\":\"Phrae (\u0e41\u0e1e\u0e23\u0e48)\",\"TH-83\":\"Phuket (\u0e20\u0e39\u0e40\u0e01\u0e47\u0e15)\",\"TH-25\":\"Prachin Buri (\u0e1b\u0e23\u0e32\u0e08\u0e35\u0e19\u0e1a\u0e38\u0e23\u0e35)\",\"TH-77\":\"Prachuap Khiri Khan (\u0e1b\u0e23\u0e30\u0e08\u0e27\u0e1a\u0e04\u0e35\u0e23\u0e35\u0e02\u0e31\u0e19\u0e18\u0e4c)\",\"TH-85\":\"Ranong (\u0e23\u0e30\u0e19\u0e2d\u0e07)\",\"TH-70\":\"Ratchaburi (\u0e23\u0e32\u0e0a\u0e1a\u0e38\u0e23\u0e35)\",\"TH-21\":\"Rayong (\u0e23\u0e30\u0e22\u0e2d\u0e07)\",\"TH-45\":\"Roi Et (\u0e23\u0e49\u0e2d\u0e22\u0e40\u0e2d\u0e47\u0e14)\",\"TH-27\":\"Sa Kaeo (\u0e2a\u0e23\u0e30\u0e41\u0e01\u0e49\u0e27)\",\"TH-47\":\"Sakon Nakhon (\u0e2a\u0e01\u0e25\u0e19\u0e04\u0e23)\",\"TH-11\":\"Samut Prakan (\u0e2a\u0e21\u0e38\u0e17\u0e23\u0e1b\u0e23\u0e32\u0e01\u0e32\u0e23)\",\"TH-74\":\"Samut Sakhon (\u0e2a\u0e21\u0e38\u0e17\u0e23\u0e2a\u0e32\u0e04\u0e23)\",\"TH-75\":\"Samut Songkhram (\u0e2a\u0e21\u0e38\u0e17\u0e23\u0e2a\u0e07\u0e04\u0e23\u0e32\u0e21)\",\"TH-19\":\"Saraburi (\u0e2a\u0e23\u0e30\u0e1a\u0e38\u0e23\u0e35)\",\"TH-91\":\"Satun (\u0e2a\u0e15\u0e39\u0e25)\",\"TH-17\":\"Sing Buri (\u0e2a\u0e34\u0e07\u0e2b\u0e4c\u0e1a\u0e38\u0e23\u0e35)\",\"TH-33\":\"Sisaket (\u0e28\u0e23\u0e35\u0e2a\u0e30\u0e40\u0e01\u0e29)\",\"TH-90\":\"Songkhla (\u0e2a\u0e07\u0e02\u0e25\u0e32)\",\"TH-64\":\"Sukhothai (\u0e2a\u0e38\u0e42\u0e02\u0e17\u0e31\u0e22)\",\"TH-72\":\"Suphan Buri (\u0e2a\u0e38\u0e1e\u0e23\u0e23\u0e13\u0e1a\u0e38\u0e23\u0e35)\",\"TH-84\":\"Surat Thani (\u0e2a\u0e38\u0e23\u0e32\u0e29\u0e0e\u0e23\u0e4c\u0e18\u0e32\u0e19\u0e35)\",\"TH-32\":\"Surin (\u0e2a\u0e38\u0e23\u0e34\u0e19\u0e17\u0e23\u0e4c)\",\"TH-63\":\"Tak (\u0e15\u0e32\u0e01)\",\"TH-92\":\"Trang (\u0e15\u0e23\u0e31\u0e07)\",\"TH-23\":\"Trat (\u0e15\u0e23\u0e32\u0e14)\",\"TH-34\":\"Ubon Ratchathani (\u0e2d\u0e38\u0e1a\u0e25\u0e23\u0e32\u0e0a\u0e18\u0e32\u0e19\u0e35)\",\"TH-41\":\"Udon Thani (\u0e2d\u0e38\u0e14\u0e23\u0e18\u0e32\u0e19\u0e35)\",\"TH-61\":\"Uthai Thani (\u0e2d\u0e38\u0e17\u0e31\u0e22\u0e18\u0e32\u0e19\u0e35)\",\"TH-53\":\"Uttaradit (\u0e2d\u0e38\u0e15\u0e23\u0e14\u0e34\u0e15\u0e16\u0e4c)\",\"TH-95\":\"Yala (\u0e22\u0e30\u0e25\u0e32)\",\"TH-35\":\"Yasothon (\u0e22\u0e42\u0e2a\u0e18\u0e23)\"},\"US\":{\"AL\":\"Alabama\",\"AK\":\"Alaska\",\"AZ\":\"Arizona\",\"AR\":\"Arkansas\",\"CA\":\"California\",\"CO\":\"Colorado\",\"CT\":\"Connecticut\",\"DE\":\"Delaware\",\"DC\":\"District Of Columbia\",\"FL\":\"Florida\",\"GA\":\"Georgia\",\"HI\":\"Hawaii\",\"ID\":\"Idaho\",\"IL\":\"Illinois\",\"IN\":\"Indiana\",\"IA\":\"Iowa\",\"KS\":\"Kansas\",\"KY\":\"Kentucky\",\"LA\":\"Louisiana\",\"ME\":\"Maine\",\"MD\":\"Maryland\",\"MA\":\"Massachusetts\",\"MI\":\"Michigan\",\"MN\":\"Minnesota\",\"MS\":\"Mississippi\",\"MO\":\"Missouri\",\"MT\":\"Montana\",\"NE\":\"Nebraska\",\"NV\":\"Nevada\",\"NH\":\"New Hampshire\",\"NJ\":\"New Jersey\",\"NM\":\"New Mexico\",\"NY\":\"New York\",\"NC\":\"North Carolina\",\"ND\":\"North Dakota\",\"OH\":\"Ohio\",\"OK\":\"Oklahoma\",\"OR\":\"Oregon\",\"PA\":\"Pennsylvania\",\"RI\":\"Rhode Island\",\"SC\":\"South Carolina\",\"SD\":\"South Dakota\",\"TN\":\"Tennessee\",\"TX\":\"Texas\",\"UT\":\"Utah\",\"VT\":\"Vermont\",\"VA\":\"Virginia\",\"WA\":\"Washington\",\"WV\":\"West Virginia\",\"WI\":\"Wisconsin\",\"WY\":\"Wyoming\",\"AA\":\"Armed Forces (AA)\",\"AE\":\"Armed Forces (AE)\",\"AP\":\"Armed Forces (AP)\",\"AS\":\"American Samoa\",\"GU\":\"Guam\",\"MP\":\"Northern Mariana Islands\",\"PR\":\"Puerto Rico\",\"UM\":\"US Minor Outlying Islands\",\"VI\":\"US Virgin Islands\"}}","plugin_url":"http:\/\/novocoffee.com\/wp-content\/plugins\/woocommerce","ajax_url":"\/wp-admin\/admin-ajax.php","ajax_loader_url":"http:\/\/novocoffee.com\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_select_state_text":"Select an option\u2026","i18n_required_rating_text":"Please select a rating","i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_required_text":"required","i18n_view_cart":"View Cart \u2192","review_rating_required":"yes","update_order_review_nonce":"c0f4c066a7","apply_coupon_nonce":"7700182619","option_guest_checkout":"yes","checkout_url":"\/wp-admin\/admin-ajax.php?action=woocommerce-checkout","is_checkout":"0","update_shipping_method_nonce":"00a70a1b09","cart_url":"http:\/\/novocoffee.com\/cart\/","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type="text/javascript" src="/javascript/woocommerce.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/javascript/cart-fragments.min.js"></script>

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function(){
    	jQuery("a[rel^='prettyPhoto']").prettyPhoto({theme:'light_rounded',overlay_gallery: false,show_title: false,deeplinking:false});
    });
</script>
<script type="text/javascript" src="/javascript/js"></script><script src="/javascript/main.js" type="text/javascript"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42868033-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>






<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

 Served from: novocoffee.com @ 2014-09-12 14:14:05 by W3 Total Cache --></a><div id="diigo-chrome-installed" style="display: none;"></div><div id="feedly-mini" title="feedly Mini tookit"></div></body></html>
